/* Variáveis */
:root {
    --branco-total: #FFFFFF;
    --branco-semi: #F5F5F5;

    --azul-forte: #0000EE;
    --azul-menos-forte: #264FEC;

    --azulado: #33475B;
    --azulado-forte: #364372;

    --rosa-forte: #DB1E8C;
    --rosa-fraco: #FF97D3;

    --preto: #000000;
}

/* Importação de fonte via Google Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* Reset básico --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body --------- */
body {
    background-color: var(--azulado);
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Header --------- */
header {
    height: 80px;
    background-color: var(--branco-total);
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 218px;
    text-align: left;
}

.titulo-principal {
    font-size: 24px;
    color: var(--azul-forte);
    font-weight: 400;
}

.label-pesquisa {
    background-color: var(--rosa-forte);
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.input-pesquisa {
    background-color: transparent;
    padding: 4px;
    border: none;
}

::placeholder {
    color: var(--rosa-fraco);
}

/* Main --------- */

main {
    display: flex;
}

.container-cursos {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 3%;
    padding-bottom: 8rem;
}

.container-cursos-lista-item {
    width: 31.33%;
    height: 445px;
    background: var(--branco-semi);
    list-style-type: none;
    border-radius: 5px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
}

.titulo-item-lista {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azulado-forte);
}

.texto-item-lista {
    padding-top: 1rem;
    line-height: 1.5rem;
}

.container-cursos-lista-item .texto-item-lista:last-of-type {
    flex-grow: 1;
}

.link-item-lista {
    font-size: 0.87rem;
    border: 1px solid var(--azul-menos-forte);
    border-radius: 4px;
    padding: 1rem;
    color: var(--azul-menos-forte);
    text-decoration: none;
    width: fit-content;
}

/* Footer --------- */

footer {
    display: flex;
    background: var(--branco-total);
}

.container-rodape {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.container-logo-alura-boticario {
    display: flex;
    gap: 2rem;
    height: fit-content;
}

.container-links-redes_sociais {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.lista-links {
    list-style-type: none;
}

.lista-links-link {
    font-size: 0.87rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: var(--preto);
}

.label-lista-redes-sociais {
    font-size: 0.87rem;
    line-height: 1.5rem;
    text-align: center;
}

.lista-redes_sociais {
    gap: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}


@media screen and (max-width:1220px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width:1023px) {
    html {
        font-size: 15px;
    }

    .container-cursos-lista-item {
        width: 48.5%;
    }

    .container-logo-alura-boticario {
        gap: 1rem;
    }

    .container-links-redes_sociais {
        gap: 1rem;
    }

    .lista-redes_sociais {
        gap: 0;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px
    }

    .header-logo {
        width: 20%;
    }

    .label-pesquisa {
        padding: 0;
        gap: 0;
        flex-shrink: 1;
        width: 20%;
    }

    .input-pesquisa::placeholder {
        color: transparent;
    }

    .container-cursos-lista-item {
        width: 100%;
        margin: 2rem 2rem 0;
    }

    .container-logo-alura-boticario {
        flex-direction: column;
    }

    .container-links-redes_sociais {
        flex-direction: column;
        align-items: center;
    }

    .logo-desenvolve {
        display: none;
    }

}